body {
    background-color: #c2bab3;
}


@font-face {

    font-family: 'Akira Expanded';
    src: url(/fonts/Akira\ Expanded\ Demo.otf); 
}

@font-face {

    font-family: 'Sketch Gothic School';
    src: url(/fonts/Sketch\ Gothic\ School.ttf); 
}

@font-face {
    font-family: 'MatamorosWBW';
    src: url(/fonts/MatamorosWBW\ Bold.ttf);
}

@font-face {
    font-family:'milker' ;
    src: url(/fonts/milker.otf);
}

.navbar {

    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgba(167,161,153,255);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family:'milker' ;
}

.portfolio {
    font-family: 'MatamorosWBW';
    font-size: 50px;
}

.Bio {
    display: flex;
    justify-content: center;
    background-color: #1a1a17;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

}

.Proj {

    display: flex;
    justify-content: space-around;
    margin-top:20px ;
    padding-top: 50px;
    margin-bottom:15px ;
    border-top: 2px solid rgba(167,161,153,255);
    
  

}

.projet {
     
    border-top: 5px solid #1a1a17;
    border-right: 5px solid #1a1a17;
    border-left: 5px solid #1a1a17;
    border-bottom: 5px solid #1a1a17;

}

.Nom {
    color:  #c4bdb3;
    font-family:'milker' ;
    font-size: 200px;
    margin: 1px; /* Ajoute un espace autour du texte */
    padding: 1px; /* Ajoute un espace à l'intérieur des bords du texte */
     letter-spacing: 2px;
    
}

a {
    text-decoration: none;
}

.mon {

    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.prenom {
    font-family:'milker' ;

    color: #c4bdb3;
    display: flex;
    flex-direction: column;
    font-size: 25px;
   /* writing-mode: vertical-lr;  Écriture de gauche à droite en mode vertical 
    transform: rotate(180deg);  Retourne le texte pour qu'il soit à l'endroit */
}


.projets {
     
    border-left: 2px solid rgba(167,161,153,255);
    border-right: 2px solid rgba(167,161,153,255);
    padding-left: 10%;
    padding-right: 10%;
    font-family:'milker' ;
    font-weight: 400;

}

.text {

    display: flex;
    justify-content: center;

}

.zone {

    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.zones {

    display: flex;
    justify-content: center;
}

.lettre-destaquee {
    font-size: 400%;
    color: #447474; 
}

a:link {
    color: #1a1a17; 
}


a:visited {
    color: #1a1a17; 
}

a:hover {
    color: #1a1a17; 
}


a:active {
    color: #1a1a17; 
}
.Container {
    display: flex;
    justify-content: center;
    
}
.container {
    margin-top: 50px;
    background-color: #1a1a17;
    width: 500px;
    height: 540px;
    
    

}
.cont {

    display: flex;
    justify-content: center;

}


.qsd{


    
}


.Btn {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
     overflow: hidden; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #447474;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(45deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    border: 0px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(190, 190, 190, 0.466);
    backdrop-filter: blur(4px);
  }
  

  .logo {

    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
  }

  .qsd {
    font-family:'milker' ;
    display: flex;
    flex-direction:column;
    align-items: center;
    color: #c4bdb3;
    margin-top: 5px;
    margin-bottom: 5px;

  }

  span {
    color: #447474;
    font-size: 30px;
  }

  .span {

    font: 40px;

  }

  .ss {
display: flex;
justify-content: center;
    font-family:'milker' ;
    color: #1a1a17;
  }

  button {
    position: relative;
    padding: 12px 35px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
  